// Variables:
@footer-height: 100px;

// Sticky Footer
html { position: relative; min-height: 100%; }
body { margin: 0; margin-bottom: @footer-height; }
#footer { position: absolute; left: 0; bottom: 0; height: @footer-height; width: 100%; }
