#sponsors:after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}
#sponsors li { list-style: none; @include column(2); }

table { margin-bottom: 1.0em; }
table td { padding-right: 2.0em; padding-bottom: 0.14em; }

