<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portland State Aerospace Society is a student aerospace engineering project at Portland State University. We're building ultra-low-cost, open source rockets.">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="/assets/style.css" rel="stylesheet">
  <title>{{ page.title }}</title>
 </head>
 <body>

    <div id="header">
      <div class="container">
        <a href="/"><h1 class="brand"><span>Portland State Aerospace Society</span></h1></a>
      </div>
      <div id="navigation">
        <ul class="top">
            <li>
                <a href="/rockets/">Rockets</a>
                <ul class="submenu">
                    <li><a href="">LV0 <img src="/assets/img/lv0.svg" height="20"></a></li>
                    <li><a href="">LV1 <img src="/assets/img/lv1.svg" height="20"></a></li>
                    <li><a href="">LV2 <img src="/assets/img/lv2.svg" height="20"></a></li>
                </ul>
            </li>
            <li>
                <a href="/launches/">Launches</a>
                <ul class="submenu">
                    <li><a href="">L-0</a></li>
                    <li><a href="">L-1</a></li>
                    <li><a href="">L-2</a></li>
                </ul>
            </li>
            <li>
                <a href="/projects/">Projects</a>
                <ul class="submenu">
                    <li><a href="/open/">Open Source</a></li>
                    <li><a href="/avionics/">Avionics</a></li>
                    <li><a href="/projects/gps/">GPS</a></li>
                </ul>
            </li>
            <li>
                <a href="/about/">About PSAS</a>
                <ul class="submenu">
                    <li><a href="/news/">News</a></li>
                    <li><a href="http://blog.psas.pdx.edu">Blog</a></li>
                    <li><a href="/sponsor/">Sponsor</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>

    {{ content }}

    <div id="footer">
      <div id="site-info">
        <p>
        &copy; {{ site.time | date: '%Y' }} Portland State Aerospace Society. Our rockets and our content are availible under a <a href="http://www.gnu.org/copyleft/gpl.html" rel="license" title="GPL License">GPL License</a>.
        </p>
        <div class="info">
          <ul>
            <li><a href="/about/">About PSAS</a></li>
            <li><a href="/rockets/">Rockets</a></li>
            <li><a href="/launches/">Launches</a></li>
            <li><a href="/open/">Open Source</a></li>
          </ul>
        </div>
        <div class="info">
          <ul>
            <li><a href="https://twitter.com/pdxaerospace">@pdxaerospace</a></li>
            <li><a href="https://www.facebook.com/pdxaerospace">facebook</a></li>
            <li><a href="https://www.flickr.com/photos/pdxaerospace/">flickr</a></li>
            <li><a href="https://www.youtube.com/user/PSASRockets">youtube</a></li>
          </ul>
        </div>
        <div class="info">
          <ul>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/sponsor/#donate">Donate</a></li>
            <li><a href="/sponsor/">Sponsorship</a></li>
          </ul>
        </div>

      </div>
    </div>
 </body>
</html>
