---
layout: base
---
<div class="wrapper">
 <div id="header">
  <div class="container">
   <h1 class="hidden-xs">Portland State Aerospace Society</h1>
   <h1 class="visible-xs">PSAS</h1>
  </div>
 </div>
 <div id="content">
  <div class="container">
   <div class="col-md-10 col-md-offset-1">
     {{ content }}
   </div>
  </div>
 </div>
</div>

<div id="footer">
 <div class="container">
  <div class="col-md-10 col-md-offset-1">
   <a class="pull-right" href="#">Back to top</a>
   <ul>
    <li><a href="http://psas.pdx.edu/">psas.pdx.edu</a></li>
    <li><a href="http://psas.github.io/">psas.github.io</a></li>
   </ul>
  </div>
 </div>
</div>
