---
layout: base
---
<div id="header">
  <div class="container">
    <h1 class="brand"><span>Portland State Aerospace Society</span></h1>
  </div>
  <div id="navigation">
    <ul>
        <li><a href="">About PSAS</a></li>
        <li><a href="">Rockets</a></li>
        <li><a href="">Launches</a></li>
        <li><a href="">Open Source</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Sponsor</a></li>
        <li><a href="">Contact</a></li>
    </ul>
  </div>
</div>
<div id="psas">
    {{ content }}
</div>
<div id="footer">
  <div id="site-info">
    <p>
    &copy; {{ site.time | date: '%Y' }} Portland State Aerospace Society. Our rockets and our content are availible under a <a href="http://www.gnu.org/copyleft/gpl.html" rel="license" title="GPL License">GPL License</a>.
    </p>
    <div class="info">
      <ul>
        <li><a href="">About PSAS</a></li>
        <li><a href="">Rockets</a></li>
        <li><a href="">Launches</a></li>
        <li><a href="">Open Source</a></li>
      </ul>
    </div>
    <div class="info">
      <ul>
        <li><a href="">Contact</a></li>
        <li><a href="">Donate</a></li>
        <li><a href="">Sponsorship</a></li>
      </ul>
    </div>

  </div>
</div>
